<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>arch_competition.server.DesignProjectServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DesignProjectCreationServlet</servlet-name>
        <servlet-class>arch_competition.server.DesignProjectCreationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DesignProjectCreationServlet</servlet-name>
        <url-pattern>/mywebapp/designprojects/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/mywebapp/greet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>arch_competition.server.InitDBServletContextListener</listener-class>
    </listener>

</web-app>
